/* Created by Andrew Lancaster on 2/8/2016 */

body {
	font: 14px/1.4 "Roboto Condensed", sans-serif;
	color: #1e1e1e;
	background: #d5dee1;
}

.message {
	padding: 8px 12px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
}

.success {
	border-color: #00cc00;
	color: #00cc00;
}

.error {
	color: #CE272F;
	border-color: #CE272F;
}

.errors p {
	color: #CE272F;
}

h3 {
	font-size: 1.2em;
	font-weight: 500;
}

h2 {
	font-size: 2rem;
}

section#main {
	padding: 5% 0;
}

section p, section h3 {
	margin: 0;
}

.container, footer p {
	overflow: auto;
}

header, footer {
	background: #0b2240;
}

header .logo {
	color: #FFF;
	font-size: 2.5em;
	font-weight: 900;
	text-transform: uppercase;
	padding: 24px 0;
	box-sizing: border-box;
	margin: 0;
}

header nav {
	float: left;
	width: 66.666666666667%;
	margin: 14px 0;
}

header nav ul {
	margin: 0;
}

header nav ul li {
	display: inline;
}

header nav ul li a {
	color: #5782a1;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 300px;
	text-transform: uppercase;
	float: left;
	padding: 20px;
	box-sizing: border-box;
}

header nav ul li a:hover {
	color: #fff;
	background: #05172e;
	border-radius: 2px;
}

h1 {
	font-size: 2.5em;
    color: #5782a1;
    font-weight: 300;
    margin-bottom: 2.5%;
}

#messages, #projects, #clients, #profile {
	padding: 2.5%;
    background: #fff;
}

/*MESSAGES PANEL*/

#messages article {
	padding: 12px 14px;
	margin-bottom: 1px;
}

#messages article:hover {
	background: #f5f5f5;
}

#messages article h3 a {
	text-decoration: none;
	display: block;
	margin-bottom: 6px;
}

#messages article p.sub {
	font-size: .7em;
	color: #747474;
}

/*MESSAGES PAGE*/

#message-board article {
	padding: 2.5%;
	background: #fff;
	margin-bottom: 2.5%;
}

#message-board article h2 {
	margin-bottom: .5rem;
	font-size: 2.5rem;
	font-weight: 500;
}

#message-board article .info {
	padding-bottom: 8px;
	margin-bottom: 16px;
	font-size: 0.8em;
	border-bottom: 1px dotted #ccc;
	color: #999;
}

#message-board .avatar {
	width: 50px;
	height: auto;
	float: left;
	margin-right: 15px;
}

/*PROJECTS*/

#projects article {
	background: #fff;
	margin-bottom: 1px;
}

#projects article:hover {
	background: #f5f5f5;
}

#projects .table-row {
	display: table-row;
}

#projects article img {
	width: 100px;
	margin-right: 20px;
	display: table-cell;
	padding: 4px;
}

#projects article .info {
	display: table-cell;
	vertical-align: middle;
}

#projects article .info h3 {
	font-size: 1.2em;
}

#projects article .info h3 a {
	text-decoration: none;
}

/*PROJECT PAGE*/

#project-list article {
	text-align: center;
	background: #fff;
	padding: 2%;
	margin-bottom: 4%;
}

#project-list article h3 {
	font-size: 2.5rem;
	margin: 15px 0;
}

#project-list article img {
	width: 100%;
	height: auto;
}

#project-list article a {
	margin-top: 15px;
	margin-bottom: 0;
}

/*CLIENTS*/

#clients {
	margin-top: 4%;
}

#clients article h3 a {
	color: #925533;
	text-decoration: none;
}

#clients article {
	padding: 8px;
	text-align: center;
	border: 1px solid #ddd;
    margin-bottom: 4%;
}

#clients article:hover {
	background: #f5f5f5;
}

#clients article img {
	max-width: 100%;
	height: auto;
}

/*CLIENTS PAGE*/

#client-list article {
	padding: 20px;
	background: #fff;
	margin-bottom: 4%;
	border-radius: 2px;
}

#client-list article h3 {
	text-align: center;
	font-size: 2rem;
	line-height: 2rem;
	padding-top: 20px;
	text-transform: uppercase;
}

#client-list article img {
	width: 100%;
	height: auto;
}

/*LOGIN & REGISTER*/

#register, #login {
	padding: 2.5% 5%;
}

#register {
	background: #fff;
}

/*PROFILE*/

#profile li {
	list-style-type: none;
}

#profile .avatar {
	max-width: 150px;
	height: auto;
}

/*FOOTER*/

footer  {
	color: #5782a1;
	text-align: center;
	padding: 20px;
}